<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bs-stepper/dist/css/bs-stepper.min.css">

<div class="container-fluid">
  <div class="row">
      <div class="col-1"></div>
      <div class="col"> 
        <div class="bs-stepper">
          <div class="bs-stepper-header" role="tablist">
            <!-- your steps here -->
            <div class="step" data-target="#unite-part">
              <button type="button"  class="step-trigger" role="tab" aria-controls="unite-part" id="unit-part-trigger">
                  <a routerLink="unite">
                  <span class="bs-stepper-circle">1</span>
                  <span class="bs-stepper-label">Inscription d'Unité</span>
                </a>
              </button>
            </div>
            <div class="line"></div>
            <div class="step" data-target="#camp-part">
              <button type="button" class="step-trigger" role="tab" aria-controls="camp-part" id="camp-part-trigger">
                <a routerLink="camp">
                  <span class="bs-stepper-circle">2</span>
                  <span class="bs-stepper-label">Déclaration de camps</span>
                </a>
              </button>
            </div>
            <div class="line"></div>
            <div class="step" data-target="#subside-part">
              <button type="button" class="step-trigger" role="tab" aria-controls="subside-part" id="subside-part-trigger">
                <a routerLink="subside">
                  <span class="bs-stepper-circle">3</span>
                  <span class="bs-stepper-label">Demande de Subside de l'ONE</span>
                </a>
              </button>
            </div>
            <div class="line"></div>
            <div class="step" data-target="#reponse-part">
              <button type="button" class="step-trigger" role="tab" aria-controls="reponse-part" id="reponse-part-trigger">
                <a routerLink="reponse">
                  <span class="bs-stepper-circle">4</span>
                  <span class="bs-stepper-label">Statut de la demande </span>
                </a>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-1"></div>
  </div>
</div>




<script src="https://cdn.jsdelivr.net/npm/bs-stepper/dist/js/bs-stepper.min.js"></script>


