
<form>
    <div class="form-group">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-4">
                <label for="dossier">Numero de dossier </label>
                <input type="text" class="form-control" id="dossier" name="dossier">
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-2">
                <label for="nbencadrant">Nombre d'encadrants</label>
                <input type="text" class="form-control" id="nbencadrant" name="nbencadrant">
            </div>
            <div class="col-2">
                <label for="nbencadrant">Nombre d'enfants</label>
                <input type="text" class="form-control" id="nbenfant" name="nbenfant">
            </div>
        </div>
        <p></p>
        <p></p>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">N° Registre Nat.</th>
                            <th scope="col">Nom</th>
                            <th scope="col">Prénom</th>
                            <th scope="col">Date de naissance</th>
                            <th scope="col">Numero d'urgence</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>91081634911</td>
                            <td>Ben Ismail</td>
                            <td>Selim</td>
                            <td>16-08-1991</td>
                            <td>0471276267</td>
                            <td> <button class="btn btn-secondary btn-sm"> Supprimer </button>  </td>
                        </tr>
                        <tr>
                            <td> <input type="text" class="form-control" name="" id="" placeholder="Numero de registre Nat. ..."> </td>
                            <td><input type="text" class="form-control" name="" id="" placeholder="Nom ..."></td>
                            <td><input type="text" class="form-control" name="" id="" placeholder="Prénom ..."></td>
                            <td><input type="text" class="form-control" name="" id="" placeholder="jj-mm-aaaa..."></td>
                            <td><input type="text" class="form-control" name="" id="" placeholder="Numero d'urgence..."></td>
                            <td> <button class="btn btn-secondary btn-sm"> Supprimer </button>  </td>
                        </tr>
        
                    </tbody>
                </table>
            </div>
        </div>
        

    </div>
</form>