<form>
  <div class="form-group">     
    <div class="row">
      <div class="col-2"></div>
      <div class="col-4"> 
        <label for="Denomination">Dénomination de l'unité </label>
        <input type="text" class="form-control" id="Denomination" name="Denomination" placeholder="Entrez le nom de votre unité">
      </div>
    </div>
    <p></p>
    <div class="row">
      <div class="col-2"></div>
      <div class="col-4">
        <label for="Denomination">Numéro d'agrémentation</label>
        <input type="text" class="form-control" id="NumAgrementation" name="NumAgrementation" placeholder="Entrez le numéro d'agrémentation de votre unité">
      </div> 
    </div>
    <p></p>
    <div class="row">
      <div class="col-2"></div>
      <div class="col-4">
        <label for="Rue">Rue</label>
        <input type="text" class="form-control" id="Rue" name="Rue" placeholder="Rue">
      </div>
      <div class="col-1">
        <label for="Numeri">N°</label>
        <input type="text" class="form-control" id="Numero" name="Numero" placeholder="Numero">
      </div>
    </div>
    <div class="row">
      <div class="col-2"></div>
      <div class="col-2">
        <label for="CodePostal">Code postal</label>
        <input type="text" class="form-control" id="CodePostal" name="CodePostal" placeholder="Code postal">
      </div>
      <div class="col-3">
        <label for="Ville">Ville</label>
        <input type="text" class="form-control" id="Ville" name="Ville" placeholder="Ville">
      </div>
    </div>
    <p></p>
    <div class="row">
      <div class="col-2"></div>
      <div class="col-4">
        <label for="Denomination">Fédération</label>
        <input type="text" class="form-control" id="Federation" name="Federation" placeholder="Entrez le nom de la fédération de votre unité">
        <p></p>      
      </div>  
    </div>
  </div>
  <p></p>
  <div class="row">
    <div class="col-2"></div>
    <div class="col">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
  
</form>