
<form>
    <div class="form-group">
        <div class="row">
            <div class="col-1"></div>
            <div class="col">
                <h2 style="margin-top: 10px;">Déclaration du camp : </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-4">
                <label for="Denomination">Dénomination du camp</label>
                <input type="text" class="form-control" id="Denomination" name="Denomination" placeholder="Entrez le nom de votre unité">
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-2">
                <label for="Denomination">Type de camp</label>
                <select class="form-select" aria-label="Default select example">
                    <option value="plaine">Plaine</option>
                    <option value="foret">Forêt</option>
                    <option value="campagne">Campagne</option>
                </select>
            </div>
            <div class="col-auto">
                <label for="frais">Frais de participation</label>
                <input type="text" class="form-control" id="frais" name="frais" placeholder="€">               
            </div>
                
            
        </div>
        <p></p>
        
        <div class="row">
            <div class="col-2"></div>
            <div class="col-2">
                <label for="Denomination">Date de début</label>
                <input type="text" class="form-control" id="debut" name="debut" placeholder=" jj-mm-aaaa">
            </div>
            <div class="col-2">
                <label for="Denomination">Date de fin</label>
                <input type="text" class="form-control" id="fin" name="fin" placeholder=" jj-mm-aaaa">
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-3">
                <input class="form-check-input" type="checkbox" value="" id="undersix">
                <span style="margin-left: 2%;"></span>
                <label for="undersix">Présence d'enfant de moins de 6 ans     </label>
                
            </div>
            <div class="col-3">
                <input class="form-check-input" type="checkbox" value="" id="ebs">
                <span style="margin-left: 2%;"></span>
                <label for="ebs">Présence d'enfant à besoin spécifique </label>
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-4">
                <label for="Rue">Rue</label>
                <input type="text" class="form-control" id="Rue" name="Rue" placeholder="Rue">
            </div>
            <div class="col-1">
                <label for="Numeri">N°</label>
                <input type="text" class="form-control" id="Numero" name="Numero" placeholder="Numero">
            </div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-2">
                <label for="CodePostal">Code postal</label>
                <input type="text" class="form-control" id="CodePostal" name="CodePostal" placeholder="Code postal">
            </div>
            <div class="col-3">
                <label for="Ville">Ville</label>
                <input type="text" class="form-control" id="Ville" name="Ville" placeholder="Ville">
            </div>
        </div>
        <p></p>
        
        <div class="row">
            <div class="col-1"></div>
            <div class="col">
                <h2 style="margin-top: 50px;">Encadrants : </h2>
            </div>
        </div>
        
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">N° Registre Nat.</th>
                            <th scope="col">Nom</th>
                            <th scope="col">Prénom</th>
                            <th scope="col">Possession de brevet</th>
                            <th scope="col">Expérience</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>91081634911</td>
                            <td>Ben Ismail</td>
                            <td>Selim</td>
                            <td> Non</td>
                            <td> Non</td>
                            <td> <button class="btn btn-secondary btn-sm"> Supprimer </button>  </td>
                        </tr>
                        <tr>
                            <td> <input type="text" class="form-control" name="" id="" placeholder="Numero de registre Nat. ..."> </td>
                            <td><input type="text" class="form-control" name="" id="" placeholder="Nom ..."></td>
                            <td><input type="text" class="form-control" name="" id="" placeholder="Prénom ..."></td>
                            <td><input type="text" class="form-control" name="" id="" placeholder="jj-mm-aaaa..."></td>
                            <td><input type="text" class="form-control" name="" id="" placeholder="Numero d'urgence..."></td>
                            <td> <button class="btn btn-secondary btn-sm"> Supprimer </button>  </td>
                        </tr>
        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    <p></p>
    <div class="row">
        <div class="col-2"></div>
        <div class="col">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>